:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.todo-form {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.todo-form > input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: transparent;
  color: inherit;
  font-size: 1.25rem;
}

.todo-form > button {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: transparent;
  transition: border-color 0.25s;
  margin: 0 0.25rem;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item-text {
  padding-right: 1rem;
  font-size: 1.25rem;
}

.todo-item-text-completed {
  padding-right: 1rem;
  font-size: 1.25rem;
  text-decoration: line-through;
}

.todo-item-buttons > button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
  background: rgba(100, 108, 255, 0.1);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
